react-prerequis-debutants/.DS_Store
react-prerequis-debutants/node_modules
react-prerequis-debutants/coverage
react-prerequis-debutants/build
react-prerequis-debutants/.idea/
react-prerequis-debutants/.vscode/
react-prerequis-debutants/.eslintcache
