* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #202327;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* NAVBAR */
nav {
	position: fixed;
	z-index: 99;
	height: 70px;
	width: 900px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: #202327;
}

nav a {
	text-decoration: none;
	color: orange;
	padding: 0px 20px;
}

nav a:hover {
	color: white;
}

/* MAIN */
.main {
	height: 100%;
	width: 900px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	color: white;
	background-color: grey;
}

.main form {
	display: flex;
	flex-direction: column;
	margin-top: 80px;
}

.form-group {
	display: flex;
	flex-direction: column;
	padding-bottom: 20px;
}

.main form div:last-child {
	padding-top: 25px;
}

/* HOC */
.hoc {
	width: 100%;
	height: 1000px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: space-around;
}

.hoc-child {
	width: 200px;
	height: 200px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border: 2px solid black;
}
